---
{% if global is defined %}
global_flags:
{% for type, sign_flags in global.items() %}
{% for sign, flags in sign_flags.items()  %}
  - {% for flag in flags %}{{ sign }}{{ type }}::{{ flag }} {% endfor %}

{% endfor %}
{% endfor %}
{% endif %}

{% if packages is defined %}
package_flags:
{% for package, flagdicts in packages.items() %}
  - {{ package }} {% for type, sign_flags in global.items() %}{% for sign, flags in sign_flags.items()  %}{% for flag in flags %}{{ sign }}{{ type }}::{{ flag }} {% endfor %}{% endfor %}{% endfor %}

{% endfor %}

packages_list:
{% for package in packages.keys() %}
  - {{ package }}
{% endfor %}
{% endif %}
